*{
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.appHeader {
  display: flex;
  justify-content: space-between;
}

.btn-prev, .btn-next {
  margin: 0.2rem 0.7rem;
  padding: 0.2rem;
  min-width: 5rem;
}

.weekDaysHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #008796;
  color: #e8e8e8;
  padding: 0.5em 0;
}

.daysGrid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
  background-color: rgb(230, 223, 223);
}

.day {
  position: relative;
  text-align: left;
  padding: 0px 10px;
  min-height: 150px;
  background-color: white;
}

.day:hover {
  background-color: #ebfdff;
}
.day:hover .btn-addReminder {
  display: block;
}


.day--otherMonth {
  color: rgb(146, 145, 145);
}

.day--weekend {
  background-color: rgb(238, 238, 238);
  color: rgb(0, 151, 201)
}

.reminderForm {
  font-family: "Poppins", sans-serif;
  padding-top: 0.25rem;
}

.reminderForm textarea, .reminderForm input{
  font-family: "Poppins", sans-serif;
}

.remindersList {
  list-style: none;
}

.reminder {
  display: flex;
  align-items: center;
  color: black;
  font-size: small;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.reminder:hover {
  background-color: rgb(226, 226, 226);
}

.reminderColor {
  width: 0.75rem;
  height: 0.75rem;
  background-color: #55a4ab;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.2rem;
}

.btn-addReminder{
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

button {
  font-family: "Poppins", sans-serif;
  padding: 0rem 0.2rem;
}
